bin/
gen/
.classpath
.project
local.properties
.ant-targets-build.xml
.settings/
.externalToolBuilders/*
obj/
.cproject
libs/*.properties
*.class
tests/bin/*
tests/gen/*

# Gradle files
.gradle/
build/

# Android Studio files
.idea/
*.iml

# jni obj files
jni/*/obj/*

# MAC auto-gen files
.DS_Store

